.Header {
    background-color: #ffe600;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    height: 70px;

}

.HeaderLink {
    margin-left: 10px;
    flex-wrap: wrap;
    max-width: 100%;
    font-size: 30px;
    font-weight: bolder;
    text-decoration: none;
    color: white;
}

.HeaderLink {
    flex-wrap: wrap;
    max-width: 100%;
    font-size: 20px;
    font-weight: bolder;
    font-weight: normal;

    color: #000000;
}

button {
    flex-wrap: wrap;
    margin-left: 10px;
    padding: 10px;
    border-radius: 0;
    border-style: none;
    background-color: #ffffff;
    color: rgb(255, 0, 0);
}